@use "../helpers" as *;

.episodes {
  position: relative;
  padding-bottom: rem(140);
  overflow: hidden;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: rem(100);
  }

  &__list {
    &::before {
      --size: #{rem(240)};
      @include square(var(--size));

      position: absolute;
      content: "";
      background-image: url(../../images/episodes/svg.svg);
      background-size: cover;
      top: 0;
      left: 100%;
      transform: translate(-40%, -65%);

      @include tablet {
        transform: translate(-45%, -65%);
      }

      @include mobile {
        display: none;
      }
    }

    @include tablet {
      grid-template-columns: 1fr;
    }
  }
}
