@use "../helpers" as *;

.headline {
  padding-top: rem(140);
  padding-bottom: rem(100);
  max-width: rem(710);
  margin: 0 auto;
  text-align: center;

  @include tablet {
    padding-top: rem(130);
    padding-bottom: rem(90);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }

  &__subtitle {
    @include fluid-text(23, 16);
    color: var(--color-gray);
  }
}
