@use "../helpers" as *;

.heroAlt {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: rem(80);
  padding-top: rem(100);
  padding-bottom: rem(40);
  background-color: var(--color-light-second);

  &::after {
    position: absolute;
    content: url("../images/Hero/black_line.svg");
    top: rem(60);
    left: 0;
  }

  &::before {
    position: absolute;
    content: url(../images/Hero/stars.svg);
    bottom: rem(100);
    right: 0;
  }

  &::before,
  &::after {
    z-index: 0;
    @include mobile {
      display: none;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: rem(118);
    z-index: 2;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: rem(25);
    }
  }

  &__imges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(25.31);
    width: 100%;
    height: rem(472);
    background-image: url(../../images/heroAlt/1.png);
    background-size: cover;
    border-radius: rem(8);
    box-shadow: 12px 12px 0 0 var(--color-blue);

    @include mobile-above {
      width: rem(472);
      height: rem(472);
    }

    &-text {
      color: var(--color-blue);
      font-size: rem(46);
      font-weight: 700;
      letter-spacing: -0.08em;
      line-height: 140%;
    }
  }

  &__sos1al {
    display: flex;
    justify-content: end;
    column-gap: rem(12.65);
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: rem(60);

    &-inner {
      display: flex;
      flex-direction: column;
      row-gap: rem(40);
    }

    &-body {
      display: flex;
      flex-direction: column;
      row-gap: rem(23);
    }

    &-head {
      display: flex;
      flex-direction: column;
      row-gap: rem(16);
    }

    &-subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
    }

    &-span {
      padding: rem(3) rem(6);
      border: 1px solid var(--color-accent);
      border-radius: rem(4);
      font-size: rem(12);
    }

    &-textarea {
      padding-top: rem(20);
      border-top: 1px solid black;
      color: var(--color-gray);
    }

    &-text {
      width: 103%;

      @include tablet {
        width: 100%;
      }
    }
  }

  &__publisher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(14);
    color: var(--color-gray);

    &-body {
      display: flex;
      align-items: center;
      column-gap: rem(10);
    }

    &-img {
      border-radius: rem(999);
    }

    &-name {
      font-weight: 700;
    }
  }

  &__actions {
    display: flex;
    justify-content: start;
    column-gap: rem(20);

    @include mobile-s {
      flex-direction: column;
      row-gap: rem(10);
      width: 70%;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    &-play {
      padding-right: rem(10);
    }
  }

  &__dops {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: rem(60);
    width: 100%;

    &-text {
      font-weight: 700;
      font-size: rem(14);
      color: var(--color-gray);
    }

    &-list {
      display: flex;
      column-gap: rem(6);
    }
  }
}
