@use "../helpers" as *;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: rem(120);
  padding-bottom: rem(140);
  background-color: var(--color-light-second);

  @include mobile {
    row-gap: rem(60);
  }

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
    align-items: center;
    justify-content: center;
    padding-top: rem(64);
    text-align: center;
    z-index: 10;

    &::after {
      position: absolute;
      content: url("../../images/Hero/black_line.svg");
      top: rem(60);
      left: 0;
    }

    &::before {
      position: absolute;
      content: url(../../images/Hero/stars.svg);
      bottom: rem(100);
      right: 0;
    }

    &::before,
    &::after {
      @include mobile {
        display: none;
      }
    }
  }

  &__links {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: rem(20);
    width: 100%;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: rem(16);
      height: 1px;
      width: 95%;
      background-color: var(--color-dark);
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: rem(16);
      height: 1px;
      width: 95%;
      background-color: var(--color-dark);
    }

    &::after,
    &::before {
      @include mobile {
        width: 50%;
        left: 25%;
      }
    }

    @include mobile {
      flex-direction: column;
      row-gap: rem(40);
    }

    &-list {
      display: flex;
      column-gap: rem(20);
      min-height: rem(84);

      @include mobile {
        flex-direction: column;
        row-gap: rem(25);
      }
    }

    &-item {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      // min-width: rem(275);
      width: fluid(275, 100);
    }
  }
}
