@use "../helpers" as *;

.inspired {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(110);
  padding-block: rem(140);
  background-color: #fff;

  &__title {
    text-align: center;
  }

  &__lorem {
    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(216);
      text-align: center;

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      row-gap: rem(40);
    }

    &-img {
      margin: 0 auto;
    }
  }

  &__comment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(40);
    padding-block: rem(40);
    width: 100%;
    background-color: var(--color-light-second);

    &::after {
      position: absolute;
      content: url(../../images/inspire/line.svg);
      left: rem(-65);
      bottom: 20%;
      overflow: hidden;
    }

    &::before {
      position: absolute;
      content: url(../../images/inspire/Star.svg);
      right: rem(-45);
      top: -20%;
      overflow: hidden;

      @include mobile {
        right: rem(-95);
      }
    }

    &-img {
      margin-inline: auto;
    }

    &-text {
      text-align: center;
    }
  }
}
