@use "../helpers" as *;

.news {
  position: relative;
  padding-bottom: rem(140);

  background-color: var(--color-light-main);
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(100);
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);
    row-gap: rem(40);

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: rem(20);
    }

    &::after {
      --size: #{rem(185)};
      @include square(var(--size));

      position: absolute;
      content: "";
      background-image: url(../images/news/1.svg);
      background-size: cover;
      top: 0;
      right: 100%;
      transform: translate(46%, -43%);
      z-index: 2;

      @include tablet {
        right: 50%;
        transform: translate(-108%, -43%);
      }
    }

    &::before {
      --size: #{rem(240)};
      @include square(var(--size));

      position: absolute;
      content: "";
      background-image: url(../images/news/2.svg);
      background-size: cover;
      bottom: 0;
      left: 100%;
      transform: translate(-50%, 55%);
      z-index: 2;

      @include tablet {
        left: 50%;
        transform: translate(65%, 50%);
      }
    }

    &-alt {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &__item {
    @include tablet {
      margin: 0 auto;
    }
  }

  &__card {
    background-color: #fff;
  }
}
