@use "../helpers" as *;

.slider {
  &__body {
    width: 100%;
    overflow: hidden;
  }
  &__list {
    --itemWidth: #{rem(400)};
    --colGap: #{rem(35)};
    --itemFullWidth: calc(var(--itemWidth) + var(--colGap));

    position: relative;
    display: flex;
    column-gap: var(--colGap);
    max-width: rem(1440);
    color: var(--color-blue);
    animation: scroll 10s linear infinite;

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(var(--itemFullWidth) * -6));
      }
    }

    @include laptop {
      --itemWidth: #{rem(350)};
      --colGap: #{rem(20)};
    }
    @include tablet {
      --itemWidth: #{rem(300)};
      --colGap: #{rem(15)};
    }
    @include mobile {
      --itemWidth: #{rem(250)};
      --colGap: #{rem(10)};
    }
  }

  &__item {
    --size: #{rem(400)};

    @include squareMinWidth(var(--size));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    padding: rem(20);
    border-radius: rem(12);

    @include laptop {
      --size: #{rem(350)};
    }
    @include tablet {
      --size: #{rem(300)};
    }
    @include mobile {
      --size: #{rem(250)};
    }
  }

  &__sosial-list {
    display: flex;
    justify-content: end;
    column-gap: rem(10);
  }

  &__text {
    letter-spacing: rem(-4);
    color: var(--color-blue);
  }

  &__slider-1 {
    background-image: url(../images/Hero/auto_scroll-1.png);
  }
  &__slider-2 {
    background-image: url(../images/Hero/auto_scroll-2.png);
  }
  &__slider-3 {
    background-image: url(../images/Hero/auto_scroll-3.png);
  }
  &__slider-4 {
    background-image: url(../images/Hero/auto_scroll-4.png);
  }
  &__slider-5 {
    background-image: url(../images/Hero/auto_scroll-5.png);
  }
  &__slider-6 {
    background-image: url(../images/Hero/auto_scroll-6.png);
  }
}
