@use "../helpers" as *;

.sponsor {
  position: relative;
  padding-bottom: rem(140);

  &__header {
    position: relative;
    &-inner {
      &::after {
        --size: #{rem(120)};
        --pos-x: -33%;
        --pos-y: 64%;
        @include square(var(--size));

        position: absolute;
        content: "";
        background-image: url(../../images/sponsore/1.svg);
        background-size: cover;

        top: 0;
        left: 0;
        transform: translate(var(--pos-x), var(--pos-y));

        @media (width <= 1276px) {
          --pos-x: -10%;
          --pos-y: 70%;
        }
        @media (width <= 1080px) {
          --pos-x: 10%;
          --pos-y: 63%;
        }
        @media (width <= 890px) {
          --pos-x: 20%;
          --pos-y: 60%;
        }
        @media (width <= 649px) {
          --pos-x: 7%;
        }
        @media (width <= 600px) {
          --pos-x: -10%;
        }
        @media (width <= 550px) {
          --pos-x: -15%;
        }
        @media (width <= 529px) {
          --pos-x: -35%;
        }
        @media (width <= 471px) {
          --pos-x: 20%;
        }
        @media (width <= 418px) {
          --pos-x: 10%;
        }
        @media (width <= 385px) {
          --pos-x: -15%;
        }
      }
    }
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(20);

    @media (width <= 1180px) {
      column-gap: rem(10);
    }

    @media (width < 1160px) {
      grid-template-columns: 1fr;
      row-gap: rem(30);
    }

    &::after {
      --size: #{rem(200)};
      @include square(var(--size));

      position: absolute;
      content: "";
      background-image: url(../../images/sponsore/Star.svg);
      background-size: cover;
      top: 0;
      left: 100%;
      transform: translate(-58%, -46%);
      z-index: -10;

      @media (width < 1160px) {
        left: 50%;
        transform: translate(40%, -46%);
      }
    }

    &::before {
      --size: #{rem(120)};
      @include square(var(--size));

      position: absolute;
      content: "";
      background-image: url(../../images/sponsore/Vector.svg);
      background-size: cover;
      bottom: 0;
      right: 100%;
      transform: translate(55%, 35%);
      z-index: -10;

      @media (width < 1160px) {
        right: 50%;
        transform: translate(-113%, 31%);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    margin: 0 auto;

    &-link {
      width: 100%;
      height: 100%;
    }
  }

  &__version {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: rem(90);
    padding: rem(30) rem(40);
    max-width: rem(373);
    min-height: rem(357);
    border: 2px solid black;
    border-radius: rem(8);
    background-color: #fff;

    @include mobile-s {
      padding: rem(15) rem(20);
      max-width: rem(340);
      min-height: rem(310);
    }

    &-accent {
      border: 2px solid var(--color-accent);
      background-color: var(--color-light-second);
    }

    &-textarea {
      display: flex;
      flex-direction: column;
      row-gap: rem(20);
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-popular {
      padding: rem(3) rem(6);
      font-size: rem(12);
      color: #fff;
      background-color: var(--color-accent);
      border-radius: rem(4);
    }

    &-text {
      color: var(--color-gray);
      font-size: rem(14);
      line-height: 160%;
    }

    &-actions {
      display: flex;
      justify-content: space-between;
    }

    &-button {
      margin: 0;
      height: rem(62);
    }

    &-price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: rem(53);
    }

    &-month {
      font-size: rem(14);
    }
  }

  &__value {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    padding: rem(40);
    max-width: rem(373);
    min-height: rem(312);
    border: 2px solid black;
    border-radius: rem(8);
    background-color: #fff;

    @include mobile-s {
      row-gap: rem(20);
      padding: rem(20);
      max-width: rem(340);
      min-height: rem(310);
    }

    &-accent {
      border: 2px solid var(--color-accent);
      background-color: var(--color-light-second);
    }

    &-title {
      font-size: rem(14);
      color: var(--color-gray);
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
      text-wrap: nowrap;
    }

    &-item {
      &--thick {
        font-weight: 700;
      }
    }
  }
}
