@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Bold.woff2);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Medium.woff2);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-gray: #4d4d4d;
  --color-blue: #81adc8;
  --color-accent: #cd4631;
  --color-light-main: #edf3f7;
  --color-light-second: #f7ede8;
  --border: 0.125rem solid var(--color-dark);
  --container-width: 72.5rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
  --font-famaly-main: "Montserrat Alternates", sans-serif;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8285714286rem + 0.1904761905vw, 1rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-famaly-main);
  letter-spacing: 0;
  color: var(--color-dark);
  background-color: var(--color-light-main);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-dark);
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(4.125rem, 3.4285714286rem + 2.8571428571vw, 6rem);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: clamp(2.4375rem, 1.9732142857rem + 1.9047619048vw, 3.6875rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1.3125rem, 0.9642857143rem + 1.4285714286vw, 2.25rem);
}

h4,
.h4 {
  font-size: clamp(1.125rem, 1.0321428571rem + 0.380952381vw, 1.375rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0089285714rem + 0.4761904762vw, 1.4375rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9071428571rem + 0.380952381vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.accent-color {
  color: var(--color-accent);
}

.gray-color {
  color: var(--color-gray);
}

.red-zig::after {
  position: absolute;
  left: 50%;
  translate: -50%;
  content: url(../../icons/red_zig-zag.svg);
  bottom: -5.375rem;
  z-index: 100;
}

.black-zig::after {
  position: absolute;
  left: 50%;
  translate: -50%;
  content: url(../../icons/black-zig.svg);
  bottom: -5.375rem;
  z-index: 100;
  overflow: visible;
}

.bg-main {
  background-color: var(--color-light-main);
}

.bg-white {
  background-color: #fff;
}

.bg-second {
  background-color: var(--color-light-second);
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-light-second);
}
.header__body {
  display: flex;
  column-gap: 7.5rem;
  justify-content: start;
  align-items: center;
  padding-block: 1.5rem;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 3.125rem 18.75rem;
  animation-timing-function: ease;
}
@keyframes scrolling-header {
  to {
    padding-block: 0;
    box-shadow: 0 2px 2px -100px rgba(0, 0, 0, 0.5);
  }
}
@media (width <= 63.99875rem) {
  .header__body {
    column-gap: 3.75rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body {
    justify-content: space-between;
  }
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-light-second);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (width <= 47.99875rem) {
  .header__menu {
    flex-direction: column;
    row-gap: 3rem;
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3.75rem;
  font-weight: 600;
}
@media (width <= 63.99875rem) {
  .header__menu-list {
    column-gap: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 3rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    padding: 0.9375rem 1.875rem;
    font-size: 0.9375rem;
  }
}
.header__button-list {
  display: flex;
  column-gap: 1.25rem;
}
@media (width <= 63.99875rem) {
  .header__button-list {
    column-gap: 0.625rem;
  }
}
@media (width <= 47.99875rem) {
  .header__button-list {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    font-size: 1.875rem;
  }
}

.button {
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0 auto;
  padding: 1.25rem 2.25rem;
  border: 2px solid var(--color-dark);
  border-radius: 8px;
  box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}
.button--dark {
  background-color: var(--color-dark);
  color: var(--color-light-main);
}
.button--light {
  background-color: transparent;
  color: var(--color-dark);
}
.button--big {
  line-height: 17px;
  padding: 1.5rem 3rem;
  box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.25);
}
@media (width <= 63.99875rem) {
  .button--big {
    padding: 0.75rem 1.5rem;
  }
}
.button--small {
  padding: 0.75rem 1.5rem;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}
@media (width <= 63.99875rem) {
  .button--small {
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
  }
}

.burger-button {
  width: 2.1875rem;
  height: 2.1875rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  border: none;
  background-color: var(--color-light-second);
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25rem -0.1rem;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  align-self: end;
  width: 55%;
}

.logo {
  max-width: clamp(3.75rem, 3.425rem + 1.3333333333vw, 4.625rem);
}

.footer {
  padding-top: 8.75rem;
  padding-bottom: 5rem;
  background-color: var(--color-light-second);
}
.footer__body {
  display: grid;
  grid-template-columns: 1fr 1fr 32%;
  padding-bottom: 8.75rem;
}
@media (width <= 63.99875rem) {
  .footer__body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "lorem about" "sosial sosial";
    gap: 3.75rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__body {
    grid-template-columns: 1fr;
    grid-template-areas: "lorem" "about" "sosial";
    justify-content: center;
    align-items: center;
  }
}
.footer__lorem {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  max-width: 16.8125rem;
}
@media (width <= 63.99875rem) {
  .footer__lorem {
    grid-area: lorem;
  }
}
@media (width <= 47.99875rem) {
  .footer__lorem {
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }
}
.footer__lorem-year {
  display: flex;
  align-items: end;
  column-gap: 1.5625rem;
}
@media (width <= 47.99875rem) {
  .footer__lorem-year {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
  }
}
.footer__lorem-data {
  font-size: 0.75rem;
  color: var(--color-gray);
}
.footer__lorem-text {
  font-size: 0.875rem;
  color: var(--color-gray);
}
.footer__lorem-links {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 1.5625rem;
}
.footer__about {
  display: flex;
  column-gap: 5.8125rem;
}
@media (width <= 63.99875rem) {
  .footer__about {
    grid-area: about;
    padding-top: 0.3125rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__about {
    justify-content: center;
    align-items: center;
  }
}
.footer__about-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  font-size: 1rem;
}
.footer__about-accent {
  color: var(--color-accent);
}
.footer__sosial {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}
@media (width <= 63.99875rem) {
  .footer__sosial {
    grid-area: sosial;
    justify-content: center;
    align-items: center;
  }
}
.footer__platforms {
  display: flex;
  flex-direction: column;
  row-gap: 1.8125rem;
}
@media (width <= 47.99875rem) {
  .footer__platforms {
    justify-content: center;
    align-items: center;
  }
}
.footer__platforms-title {
  max-width: 20.25rem;
  color: var(--color-gray);
}
.footer__platforms-list {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 2.40625rem;
}
.footer__avalible {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.footer__avalible-text {
  color: var(--color-gray);
}
.footer__avalible-list {
  display: flex;
  column-gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .footer__avalible-list {
    justify-content: center;
  }
}
.footer__dops {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 1.25rem;
  font-size: 0.75rem;
}
.footer__dops::after {
  content: "";
  position: absolute;
  left: 125;
  top: 0;
  width: 97.5%;
  height: 0.0625rem;
  background-color: var(--color-dark);
}
.footer__dops-text {
  color: var(--color-gray);
}
.footer__dops-list {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  color: var(--color-gray);
}
.footer__dops-list::after {
  width: 0.125rem;
  height: 0.125rem;
  position: absolute;
  content: "";
  left: 3rem;
  top: 10;
  background-color: var(--color-gray);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 7.5rem;
  padding-bottom: 8.75rem;
  background-color: var(--color-light-second);
}
@media (width <= 47.99875rem) {
  .hero {
    row-gap: 3.75rem;
  }
}
.hero__main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  text-align: center;
  z-index: 10;
}
.hero__main::after {
  position: absolute;
  content: url("../../images/Hero/black_line.svg");
  top: 3.75rem;
  left: 0;
}
.hero__main::before {
  position: absolute;
  content: url(../../images/Hero/stars.svg);
  bottom: 6.25rem;
  right: 0;
}
@media (width <= 47.99875rem) {
  .hero__main::before, .hero__main::after {
    display: none;
  }
}
.hero__main-subtitle {
  color: var(--color-gray);
}
.hero__links {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
  width: 100%;
}
.hero__links::after {
  position: absolute;
  content: "";
  top: 0;
  left: 1rem;
  height: 1px;
  width: 95%;
  background-color: var(--color-dark);
}
.hero__links::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 1rem;
  height: 1px;
  width: 95%;
  background-color: var(--color-dark);
}
@media (width <= 47.99875rem) {
  .hero__links::after, .hero__links::before {
    width: 50%;
    left: 25%;
  }
}
@media (width <= 47.99875rem) {
  .hero__links {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
.hero__links-list {
  display: flex;
  column-gap: 1.25rem;
  min-height: 5.25rem;
}
@media (width <= 47.99875rem) {
  .hero__links-list {
    flex-direction: column;
    row-gap: 1.5625rem;
  }
}
.hero__links-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: clamp(6.25rem, 2.1875rem + 16.6666666667vw, 17.1875rem);
}

.slider__body {
  width: 100%;
  overflow: hidden;
}
.slider__list {
  --itemWidth: 25rem;
  --colGap: 2.1875rem;
  --itemFullWidth: calc(var(--itemWidth) + var(--colGap));
  position: relative;
  display: flex;
  column-gap: var(--colGap);
  max-width: 90rem;
  color: var(--color-blue);
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--itemFullWidth) * -6));
  }
}
@media (width <= 90.06125rem) {
  .slider__list {
    --itemWidth: 21.875rem;
    --colGap: 1.25rem;
  }
}
@media (width <= 63.99875rem) {
  .slider__list {
    --itemWidth: 18.75rem;
    --colGap: 0.9375rem;
  }
}
@media (width <= 47.99875rem) {
  .slider__list {
    --itemWidth: 15.625rem;
    --colGap: 0.625rem;
  }
}
.slider__item {
  --size: 25rem;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  padding: 1.25rem;
  border-radius: 0.75rem;
}
@media (width <= 90.06125rem) {
  .slider__item {
    --size: 21.875rem;
  }
}
@media (width <= 63.99875rem) {
  .slider__item {
    --size: 18.75rem;
  }
}
@media (width <= 47.99875rem) {
  .slider__item {
    --size: 15.625rem;
  }
}
.slider__sosial-list {
  display: flex;
  justify-content: end;
  column-gap: 0.625rem;
}
.slider__text {
  letter-spacing: -0.25rem;
  color: var(--color-blue);
}
.slider__slider-1 {
  background-image: url(../../images/Hero/auto_scroll-1.png);
}
.slider__slider-2 {
  background-image: url(../../images/Hero/auto_scroll-2.png);
}
.slider__slider-3 {
  background-image: url(../../images/Hero/auto_scroll-3.png);
}
.slider__slider-4 {
  background-image: url(../../images/Hero/auto_scroll-4.png);
}
.slider__slider-5 {
  background-image: url(../../images/Hero/auto_scroll-5.png);
}
.slider__slider-6 {
  background-image: url(../../images/Hero/auto_scroll-6.png);
}

.inspired {
  position: relative;
  align-items: center;
  padding-block: 8.75rem;
}
@media (width <= 63.99875rem) {
  .inspired {
    padding-block: 6.25rem;
  }
}
.inspired__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 6.875rem;
  overflow: hidden;
}
@media (width <= 63.99875rem) {
  .inspired__inner {
    row-gap: 5rem;
  }
}
.inspired__title {
  text-align: center;
}
.inspired__lorem-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 13.5rem;
  text-align: center;
  margin-inline: 0.625rem;
}
@media (width <= 47.99875rem) {
  .inspired__lorem-list {
    grid-template-columns: 1fr;
  }
}
.inspired__lorem-item {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.inspired__lorem-img {
  margin: 0 auto;
}
.inspired__comment {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
  padding-block: 2.5rem;
  width: 98%;
  background-color: var(--color-light-second);
}
.inspired__comment::after {
  position: absolute;
  content: url(../../images/inspire/line.svg);
  left: -4.0625rem;
  bottom: 20%;
}
.inspired__comment::before {
  position: absolute;
  content: url(../../images/inspire/Star.svg);
  top: 0;
  left: 100%;
  transform: translate(-85%, -55%);
}
.inspired__comment-img {
  margin-inline: auto;
}
.inspired__comment-text {
  text-align: center;
}

.person {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  font-size: 0.875rem;
}
@media (width <= 47.99875rem) {
  .person {
    flex-direction: column;
    row-gap: 0.4375rem;
  }
}
@media (width <= 47.99875rem) {
  .person-alt {
    flex-direction: row;
  }
}
.person__img {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 6.1875rem;
}
.person__job {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
}

.listeners {
  position: relative;
  padding-bottom: 6.25rem;
}
.listeners__header-inner {
  position: relative;
}
.listeners__header-inner::before {
  --size: 6.5625rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
  content: "";
  background-image: url(../../images/liseners/Sparkle.svg);
  background-size: cover;
  left: 13%;
  top: -55%;
}
@media (width <= 90.06125rem) {
  .listeners__header-inner::before {
    --size: 5.9375rem;
    left: 14%;
    top: -55%;
  }
}
@media (width <= 63.99875rem) {
  .listeners__header-inner::before {
    --size: 5rem;
    left: 11%;
  }
}
@media (width <= 47.99875rem) {
  .listeners__header-inner::before {
    display: none;
  }
}

.carusel {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
  overflow: hidden;
}
.carusel__list {
  display: flex;
  column-gap: 1.25rem;
  transition-duration: var(--transition-duration);
}
@media (width <= 47.99875rem) {
  .carusel__list {
    column-gap: 0.5rem;
  }
}
.carusel__card {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2.5rem;
  width: 34.6875rem;
  background-color: var(--color-light-second);
  border-radius: 0.5rem;
}
@media (width <= 63.99875rem) {
  .carusel__card {
    width: 28.125rem;
  }
}
@media (width <= 30.06125rem) {
  .carusel__card {
    width: 22.5rem;
  }
}
.carusel__card-text {
  font-size: clamp(1.125rem, 1.0089285714rem + 0.4761904762vw, 1.4375rem);
}
.carusel__buttons {
  display: flex;
  column-gap: 1.25rem;
}
.carusel__button {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  position: relative;
  border-radius: 6.25rem;
  border: 3.5px solid black;
}
.carusel__button-before::before {
  --size: 0.875rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  position: absolute;
  content: "";
  left: 42%;
  transform: rotate(45deg);
  border-left: 3.5px solid black;
  border-bottom: 3.5px solid black;
}
.carusel__button-after::before {
  --size: 0.875rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  position: absolute;
  content: "";
  right: 42%;
  transform: rotate(45deg);
  border-right: 3.5px solid black;
  border-top: 3.5px solid black;
}
.carusel__button:hover, .carusel__button-before:hover::before, .carusel__button-after:hover::before {
  border-color: var(--color-accent);
}

.headline {
  padding-top: 8.75rem;
  padding-bottom: 6.25rem;
  max-width: 44.375rem;
  margin: 0 auto;
  text-align: center;
}
@media (width <= 63.99875rem) {
  .headline {
    padding-top: 8.125rem;
    padding-bottom: 5.625rem;
  }
}
.headline__inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.headline__subtitle {
  font-size: clamp(1rem, 0.8375rem + 0.6666666667vw, 1.4375rem);
  color: var(--color-gray);
}

.benefits {
  position: relative;
}
.benefits__header-inner {
  position: relative;
}
.benefits__header-inner::before {
  --size: 15rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
  content: "";
  background-image: url(../../images/benefits/svg.svg);
  background-size: cover;
  top: 0;
  left: 100%;
  transform: translate(-70%, -55%);
}
@media (width <= 1200px) {
  .benefits__header-inner::before {
    transform: translate(-80%, -55%);
  }
}
@media (width <= 63.99875rem) {
  .benefits__header-inner::before {
    transform: translate(-85%, -55%);
  }
}
@media (width <= 610px) {
  .benefits__header-inner::before {
    --size: 10.625rem;
    transform: translate(-80%, -50%);
  }
}
@media (width <= 505px) {
  .benefits__header-inner::before {
    transform: translate(-90%, -55%);
  }
}
.benefits__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6.25rem;
  padding-bottom: 8.75rem;
}
.benefits__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 1.25rem;
}
@media (width <= 63.99875rem) {
  .benefits__card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 47.99875rem) {
  .benefits__card-list {
    grid-template-columns: 1fr;
  }
}
.benefits__card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.625rem;
  text-align: center;
}
@media (width <= 47.99875rem) {
  .benefits__card-item {
    max-width: 80%;
    margin-inline: auto;
  }
}
@media (width <= 30.06125rem) {
  .benefits__card-item {
    max-width: 100%;
  }
}
.benefits__card-img {
  margin-bottom: 1.25rem;
  width: 4.875rem;
  height: 4.875rem;
}

.episodes {
  position: relative;
  padding-bottom: 8.75rem;
  overflow: hidden;
}
.episodes__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 6.25rem;
}
.episodes__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.episodes__list::before {
  --size: 15rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
  content: "";
  background-image: url(../../images/episodes/svg.svg);
  background-size: cover;
  top: 0;
  left: 100%;
  transform: translate(-40%, -65%);
}
@media (width <= 63.99875rem) {
  .episodes__list::before {
    transform: translate(-45%, -65%);
  }
}
@media (width <= 47.99875rem) {
  .episodes__list::before {
    display: none;
  }
}
@media (width <= 63.99875rem) {
  .episodes__list {
    grid-template-columns: 1fr;
  }
}
.episodes__item {
  border-radius: 1.125rem;
  border: 2px solid #000;
  background-color: #fff;
}
@media (any-hover: hover) {
  .episodes__item:hover {
    box-shadow: 10px 10px 0 0 #81adc8;
    background-color: var(--color-light-second);
  }
}
@media (any-hover: none) {
  .episodes__item:active {
    box-shadow: 10px 10px 0 0 #81adc8;
    background-color: var(--color-light-second);
  }
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 1rem;
}
@media (width <= 63.99875rem) {
  .card {
    padding: 0.75rem;
  }
}
@media (width <= 47.99875rem) {
  .card {
    padding: 0.5rem;
  }
}
.card__body {
  display: grid;
  grid-template-columns: 10.375rem 1fr;
  gap: 1.25rem;
}
@media (width <= 30.06125rem) {
  .card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }
}
.card__body-img {
  border-radius: 0.5rem;
}
@media (width <= 30.06125rem) {
  .card__body-img {
    width: 100%;
  }
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.9375rem;
}
.card__info-title {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  width: 100%;
  font-weight: 700;
}
.card__info-title--main {
  line-height: 140%;
  letter-spacing: -0.02em;
}
.card__info-text {
  padding-top: 0.625rem;
  color: var(--color-gray);
  border-top: 1px solid var(--color-gray);
  font-size: 0.875rem;
}
.card__topic {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}
@media (width <= 30.06125rem) {
  .card__topic {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.625rem;
  }
}
.card__topic-list {
  display: flex;
  column-gap: 0.375rem;
  align-items: center;
  justify-content: center;
}
.card__topic-link {
  padding: 0.375rem 0.75rem;
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  border-radius: 0.375rem;
}
@media (any-hover: hover) {
  .card__topic-link:hover {
    border: 1px solid var(--color-accent);
  }
}
@media (any-hover: none) {
  .card__topic-link:active {
    border: 1px solid var(--color-accent);
  }
}
.card__topic-aditions {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  color: var(--color-gray);
  font-weight: 700;
}
.card__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img-small {
  border-radius: 62.4375rem;
}
.card__img-2 {
  box-sizing: content-box;
  z-index: 500;
  border: 3px solid #fff;
  transform: translate(-20%);
}

.sponsor {
  position: relative;
  padding-bottom: 8.75rem;
}
.sponsor__body {
  overflow: hidden;
}
.sponsor__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.25rem;
}

/*# sourceMappingURL=main.css.map */
